<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/icon"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.DCYourself"
    tools:targetApi="31">
    <activity
      android:name=".ControlActivity"
      android:exported="false" />
    <activity
      android:name=".Medium"
      android:exported="false" />
    <activity
      android:name=".Terms"
      android:exported="false" />
    <activity
      android:name=".PersonalInformation"
      android:exported="false" />
    <activity
      android:name=".AccountInformation"
      android:exported="false" />
    <activity
      android:name=".Profile"
      android:exported="false" />
    <activity
      android:name=".Preferences"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Recommendations"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".UpdateMedicines"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".AddMedicines"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Medicines"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".AddData"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Graph"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Type"
      android:exported="false" />
    <activity
      android:name=".Test"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Negative"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Positive"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Diagnose"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Exercise"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".DiabetesFamily"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".WeightHeight"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".BirthDate"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Gender"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".RecoverPassword2"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".RecoverPassword"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".ChangePassword"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Home"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Login"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".SignUp2"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".SignUp"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/SplashTheme"
      tools:ignore="LockedOrientationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="example.com"
          android:scheme="https" />
      </intent-filter>
    </activity>

    <meta-data
      android:name="preloaded_fonts"
      android:resource="@array/preloaded_fonts" />
  </application>

</manifest>